/*Box*/
.d-flex {
    display: flex;
}
.align-center {
    align-items: center;
}

/*Padding & Margin*/
.p-10 {
    padding: 10px;
}
.p-20 {
    padding: 20px;
}
.m-20 {
    margin: 20px;
}

/*Colors*/
.bg-white {
    background-color: white;
}

/*Positions*/
.p-relative {
    position: relative;
}

/*Fonts*/
.txt-c {
    text-align: center;
}
.fs-14 {
    font-size: 0.875rem;
}

/*Border*/
.rad-6 {
    border-radius: 6px;
}